PORT=3000
NODE_ENV=development
JWT_SECRET=seu_jwt_secret_super_seguro
JWT_EXPIRES_IN=8h
COOKIE_SECRET=seu_cookie_secret_super_seguro
DB_PATH=./database/database.sqlite
CORS_ORIGIN=http://localhost:3000
DATABASE_URL=postgresql://usuario:senha@host/database?sslmode=require
